ul {
    padding: 0;
    margin-bottom: 0px !important;
    list-style-type: none;
}

ul li {
    margin: 1px;
}

.landing {
	min-height: 700px;
}
main {
		display: inline;
		/*float: right;*/
}

form {
    width: 100%;
}

.logo-item {
	/* background-color: antiquewhite;
	border-color: antiquewhite; */

}
.logo {
	/* background: #ffffff; */
	text-align: center;
}
/* .sidebar {
} */
.sidebar:after, .off-canvas-sidebar:after {
	background: #2b2b2b;
}
.sidebar .nav li > a,
.off-canvas-sidebar .nav li > a {

}

.sidebar .nav li.active > a,
.off-canvas-sidebar .nav li.active > a {
	color: #00a69a;
	background: #ffffff;
}

.sidebar .nav .active i, .off-canvas-sidebar .nav .active i {
	color: #00a69a;
}

.sidebar .nav li:hover:not(.active) > a i,
.sidebar .nav li:focus:not(.active) > a i,
.off-canvas-sidebar .nav li:hover:not(.active) > a i,
.off-canvas-sidebar .nav li:focus:not(.active) > a i {
	/* color:black; */
}

.card {
	background-position: center;
}

.index-title {

}

.index{
	display: grid;
	grid-template-columns: 80%;
	justify-content: flex-end;
	/* width: 100%; */
}

.sidebar{
	display: inline-block !important;
	box-shadow: none !important;
}

.index-title {
	text-align: center;
	font-family: unset;

}

h1 strong {
	color: #00a69a;
}

.nope {
	display: none;
}

.signature {
	position: fixed;
  right: 0;
	bottom: 0;
	margin-bottom: 20px;
}

.content {
	height: -webkit-fill-available;
	padding-top: 30px;
	padding-right: 30px;
}

.deck {
	font-size: small;
}

.hideme {
	display: none;
}

.showme {
	display: block;
}

.bg-dark {
	background-color: #2b2b2b !important;
}

.file-item {
  margin-bottom: 4px;
}

.file-date, .file-download {
	margin-bottom: 0 !important;
}

.report-btn {
	margin: 0;
  width: -webkit-fill-available;
	text-align: left;
}

.rep-btn-container {
	padding-bottom: 15px !important;
	cursor: pointer;
}

.file-container{
	text-align: center;
}

.rep-active-pill {
	border-left: 5px solid #00a69a !important;
}
.rep-disabled-pill {
	border-left: 5px solid #e72b2bbd !important;
}

.jarvicon {
	float: right;
	color: #00a69a;
}

.fa-edit {
	margin-right: 5em;
}

.report-query {
	color: #6c757dd1;
  font-size: small;
  margin-left: 110px;
}

.landing {
	padding-top: 10em;
  background-attachment: fixed;
  height: 94.5vh;
  background-size: cover;
}
.card-landing {
	background-image: none;
	background-color: transparent;
	width: 33%;
	margin-left: 33%;
}

.overlay{
	opacity:0.8;
	background-color:#ccc;
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:1000;
}

.login-btn {
	background-color: transparent;
	color: white;
	border: 2px solid #00a69a;
}
.login-btn:hover {
	background-color: #00a69a !important;
	color: #2b2b2b !important;
	border: 2px solid #00a69a !important;
}
.login-btn:active {
	background-color: #00a69a;
}
 .navbar {
	 margin-bottom: 0;
	 border-bottom: 1px solid #00a69a;
 }

 .nav-link:hover {
	color: #00a69a !important;
 }
 .nav-a:hover {
	 text-decoration: none;
	 color: #00a69a;
 }
.btn-link:hover {
	border: 1px solid #00a69a;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-link, .nav-a {
	border-color: #00a69a !important;
	color: #00a69a;
}
.btn-link:active, .nav-a {
	border-color: #00a69a !important;
	background-color: transparent;
	color: #00a69a;
}
.btn-user {
	color: white;
	background-color: transparent;
	border: 0px;
}
.btn-user:hover {
	background-color: transparent;
	border: 0px;
	text-shadow: 1px 1px 2px black, 0 0 25px #00a69a, 0 0 5px #00a69a;
	cursor: pointer;
}

.navbar-toggler {
	float: left !important;
}

.report-textarea {
	line-height: 1 !important;
	border: none;
	margin: 0;
	padding: 10px !important;
}
.bounce-submit {
	margin: 0;
}

.report-time {
	padding: 6px 12px !important;
}
.disabled {
	pointer-events:none;
	opacity:0.6;
}
