.navigation-menu {

    /* Dimensions */
    width: auto ;
    height: 96% ;
    display: inline-block;
    padding: 1em 2em 1em 1em;
    position: absolute;

    /* Colors */
    background-color: #343a40dc ;

    /* Styles */
}

.menu-item {
    text-decoration: none !important;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: list-item;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 400;
    height: 46px;
    line-height: 24px;
    list-style-type: none;
    text-align: left;
    text-size-adjust: 100%;
    /* width: 255px; */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu-item:hover {
	border-bottom: #3d3440dc
}

.sign-out {
	/* bottom: 0; */
	/* margin-top: 100%; */
}

